/* General Styling */
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.png');
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px #aaa;
}

header {
  padding: 30px;
}

nav {
  background: rgb(0, 0, 0, 0.1);
  padding: 10px;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

footer {
  background: #333;
  color: white;
  padding: 5px;
  margin-top: 20px;
}

footer span {
  font-size: 0.7rem;
  line-height: 1.3;
}

/* Header and words styling */
h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 10px 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4::before {
  content: "\2666";
  padding-right: 10px;
}

h4::after {
  content: "\2666";
  padding-left: 10px;
}

a {
  color: #333;
  opacity: 0.6;
  transition: 0.2s;
}

a.active {
  opacity: 1;
}

a:hover {
  opacity: 1;
}

p {
  margin-top: 5px;
  line-height: 1.4;
}

strong {
  font-weight: 900;
}

/* Page Specific Styling */
#pic-me {
  width: 90%;
  margin: 20px 0;
}

.favoritethings li {
  padding: 5px;
}

/* For screens larger than 600px wide */
@media (min-width:600px) {
  section {
    padding: 20px;
  }

  .left {
    float: left;
    width: 49%;
  }

  .right {
    float: right;
    width: 49%;
  }

  footer {
    clear: both;
  }

  #pic-me {
    max-width: 250px;
    border-radius: 10px;
    filter: saturate(50%);
    transition: 0.2s;
  }

  #pic-me:hover {
    filter: saturate(75%);
    transform: scale(1.02) rotate(2deg);
  }
}
